
.blog__publisher span i {
    color: #f9a826;

}

blockquote{
    line-height: 35px;
}

.single__comment img{
    width: 80px;
    height: 70px;
    border-radius: 30%;
    border: 2px solid #000d6b;
    object-fit: cover;
}

.replay i {
    color: #f9a826; 
}

.replay{
    color: #000d6b;
    font-weight: 600;
    cursor: pointer;
}

.leave__comment-form input , 
.leave__comment-form textarea {
    border: 1px solid rgba(0 , 12 , 107 , 0.118);
}

.leave__comment-form textarea:focus{
    outline: none;
}

.comment__btn{
    background: #000d6b !important;
    color: #fff !important;

}

