
.social__link-icon{
    font-size: 1.4rem;
    text-decoration: none;
    font-weight: 500;
    color: #000d6b;
}

.contact__btn{
    border: none;
    background: #000d6b;
    outline: none;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .contact__btn{
        margin-bottom: 40px;
        font-size: 0.8rem;
    }
    
}